:root {
  --primary-font: "Roboto", sans-serif;
  --primary-color: #2196f3;
  --second-color: #ffffff;
  --fourth-text-color: #212121;
  --header-background-color: #00bfff;
  --header-background-color-nav: #e2e2e2;
  --futer-color: #2f303a;
  --border-color: #000000;
  --mobil-color: rgba(0, 0, 0, 0.5);
  --futer-social-color: rgba(255, 255, 255, 0.1);
  --hero-background-color: rgba(47, 48, 58, 0.3);
  --slogan-color: #f13232;
  --table-color: #faf6f6;
  --th-background-color: #00a8e1;
  --tr-background-color: #e3e2e2;
  --team-color: #f0f7ff;
  --primary-text-color: #ffffff;
  --second-text-color: rgba(255, 255, 255, 0.6);
  --fifth-text-color: #000000;
  --third-text-color: #757575;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  margin: auto;
  width: 480px;
  padding-top: 100px;
  padding-bottom: 60px;
}
@media screen and (min-width: 769px) {
  .section {
    width: 769px;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    width: 1024px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  font-family: var(--primary-font);
  box-sizing: border-box;
  background-image: url(../images/fon.jpg);
  background-size: cover;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  font-style: normal;
}

a {
  text-decoration: none;
}

h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--fourth-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1280px) {
  h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.menu-btn {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  line-height: 0;
  right: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--fourth-text-color);
  transition: font 250ms;
  cursor: pointer;
}
.menu-btn:hover, .menu-btn:focus {
  margin-top: -2px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .menu-btn:hover, .menu-btn:focus {
    margin-top: -2px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1280px) {
  .menu-btn {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .menu-btn:hover, .menu-btn:focus {
    margin-top: -2px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.lider-addr {
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: padding-top 250ms;
  font-weight: 500;
  font-size: 16px;
  line-height: 3.14;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--fourth-text-color);
  transition: font 250ms;
  cursor: pointer;
}
.lider-addr:hover, .lider-addr:focus {
  margin-top: -2px;
  font-weight: 500;
  font-size: 18px;
  line-height: 3.14;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .lider-addr:hover, .lider-addr:focus {
    margin-top: -2px;
    font-weight: 500;
    font-size: 18px;
    line-height: 3.6;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1280px) {
  .lider-addr {
    font-weight: 500;
    font-size: 18px;
    line-height: 3.14;
    letter-spacing: 0.02em;
  }
  .lider-addr:hover, .lider-addr:focus {
    margin-top: -2px;
    font-weight: 500;
    font-size: 20px;
    line-height: 3.14;
    letter-spacing: 0.02em;
  }
}

.lider-btn {
  width: 100%;
  height: 60px;
  background-color: var(--th-background-color);
  border-radius: 4px;
  border: 1px solid var(--border-color);
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .lider-btn {
    transition: padding-top 250ms;
  }
}
@media screen and (min-width: 1280px) {
  .lider-btn {
    border: 1px solid var(--border-color);
  }
}

.social-list {
  display: flex;
}
.social-list__item:not(:last-child) {
  margin-right: 10px;
}
.social-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 15%;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--primary-color);
  color: var(--second-color);
}
.social-list__icon {
  fill: currentColor;
}

.header {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    width: 1024px;
  }
}
.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 480px;
  margin: auto;
  background-color: var(--header-background-color);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
@media screen and (min-width: 768px) {
  .header__container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .header__container {
    width: 1024px;
  }
}
.header__navigation {
  display: flex;
}
.header__logo {
  display: flex;
  margin-right: 10px;
}
.header__logo-ikon {
  width: 100px;
  height: 100px;
  background-color: var(--second-color);
  background-image: url(../images/svg/logo-icon.svg);
  background-size: cover;
  border-radius: 50%;
  margin-top: -10px;
  margin-bottom: -10px;
}
@media screen and (min-width: 768px) {
  .header__logo-ikon {
    margin-top: -21px;
    margin-bottom: -20px;
  }
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.nav-list__item {
  width: 140px;
  height: 30px;
  background-color: var(--header-background-color-nav);
  border-radius: 4px;
  border: 1px solid var(--border-color);
  transition: padding-top 250ms;
}
.nav-list__item:hover, .nav-list__item:focus {
  padding-top: 3px;
}
@media screen and (min-width: 768px) {
  .nav-list__item {
    background-color: var(--header-background-color-nav);
    border-radius: 4px;
    border: 1px solid var(--border-color);
    transition: padding-top 250ms;
  }
  .nav-list__item:not(:last-child) {
    margin-right: 10px;
  }
  .nav-list__item:hover, .nav-list__item:focus {
    padding-top: 3px;
  }
}
@media screen and (min-width: 1280px) {
  .nav-list__item {
    width: 160px;
    height: 34px;
    background-color: var(--header-background-color-nav);
    border-radius: 4px;
    border: 1px solid var(--border-color);
    transition: padding-top 250ms;
  }
  .nav-list__item:not(:last-child) {
    margin-right: 10px;
  }
  .nav-list__item:hover, .nav-list__item:focus {
    padding-top: 3px;
  }
}
.nav-list__link {
  display: block;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.02em;
  text-align: center;
  margin: auto;
  color: var(--fourth-text-color);
  transition: font 250ms;
}
.nav-list__link:hover, .nav-list__link:focus {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .nav-list__link {
    text-align: center;
    margin: auto;
    color: var(--fourth-text-color);
    transition: font 250ms;
  }
  .nav-list__link:hover, .nav-list__link:focus {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1280px) {
  .nav-list__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.8;
    letter-spacing: 0.02em;
    text-align: center;
    margin: auto;
    color: var(--fourth-text-color);
    transition: font 250ms;
  }
  .nav-list__link:hover, .nav-list__link:focus {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.contacts-list {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.contacts-list__item {
  margin-right: 0;
}
@media screen and (min-width: 1024px) {
  .contacts-list__item:not(:last-child) {
    margin-right: 30px;
  }
}
.contacts-list__link {
  color: var(--third-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--primary-color);
}
@media screen and (min-width: 1024px) {
  .contacts-list__link {
    display: flex;
    align-items: center;
  }
  .contacts-list__link:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .contacts-list__phone {
    width: 10px;
    height: 16px;
  }
}
@media screen and (max-width: 767px) {
  .contacts-list {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .contacts-list {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 100px;
  width: 100%;
  height: 796px;
  background-color: var(--mobil-color);
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}
.mobile-menu__container {
  position: relative;
  max-width: 470px;
  height: 300px;
  margin: auto;
  padding-left: 24px;
  padding-top: 66px;
  border-radius: 2px;
  background-color: var(--second-color);
}
.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}
.mobile-menu__contacts-list {
  margin-bottom: 32px;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.hero {
  margin: auto;
}
.hero__container {
  padding-top: 50px;
  padding-bottom: 118px;
  width: 480px;
  margin: auto;
  background-position: 50% 50%;
  background-image: url(../images/mobile/zal.jpg);
  background-size: cover;
  background-color: var(--hero-background-color);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__container {
    background-image: url(../images/mobile/zal@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero__container {
    padding-top: 70px;
    padding-bottom: 100px;
    width: 768px;
    background-image: url(../images/zal.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: url(../images/zal@2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .hero__container {
    padding-top: 70px;
    padding-bottom: 100px;
    width: 1024px;
    background-image: url(../images/zal.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: url(../images/zal@2x.jpg);
  }
}
.hero__blank {
  margin: auto;
  height: 102px;
  width: 480px;
  background-color: var(--second-color);
}
@media screen and (min-width: 768px) {
  .hero__blank {
    width: 768px;
    height: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__blank {
    width: 1024px;
  }
}
.hero__slogan {
  width: 360px;
  margin: auto;
  font-weight: 900;
  font-size: 64px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--slogan-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--second-color);
}
@media screen and (min-width: 768px) {
  .hero__slogan {
    width: 696px;
    font-weight: 900;
    font-size: 80px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1280px) {
  .hero__slogan {
    width: 696px;
    font-weight: 900;
    font-size: 92px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}
.hero__slogan-txt {
  border-radius: 20px;
  margin: auto;
  width: 600px;
  background-color: var(--hero-background-color);
  color: var(--second-color);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--border-color);
  width: 400px;
}
@media screen and (min-width: 768px) {
  .hero__slogan-txt {
    width: 546px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__slogan-txt {
    width: 696px;
  }
}

.hero-gallery {
  margin: auto;
}
.hero-gallery__container {
  padding-top: 50px;
  padding-bottom: 118px;
  height: 315px;
  width: 480px;
  margin: auto;
  background-position: 50% 50%;
  background-image: url(../images/kubki.jpg);
  background-size: cover;
  background-color: var(--hero-background-color);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-gallery__container {
    background-image: url(../images/kubki@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-gallery__container {
    padding-top: 70px;
    padding-bottom: 100px;
    height: 503px;
    width: 768px;
    background-image: url(../images/kubki.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-gallery__container {
    background-image: url(../images/kubki@2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .hero-gallery__container {
    padding-top: 70px;
    padding-bottom: 100px;
    height: 671px;
    width: 1024px;
    background-image: url(../images/kubki.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero-gallery__container {
    background-image: url(../images/kubki@2x.jpg);
  }
}
.hero-gallery__blank {
  margin: auto;
  width: 480px;
  height: 102px;
  background-color: var(--second-color);
}
@media screen and (min-width: 768px) {
  .hero-gallery__blank {
    width: 768px;
    height: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-gallery__blank {
    width: 1024px;
  }
}

.aboutus {
  background-color: var(--second-color);
}
@media screen and (min-width: 768px) {
  .aboutus__container {
    padding-left: 100px;
    padding-right: 100px;
  }
}
.aboutus__txt {
  margin-bottom: 10px;
}

.logo {
  display: flex;
  color: var(--fifth-text-color);
  font-family: var(--logo-font);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 400;
    font-size: 54px;
    line-height: 1.3;
    letter-spacing: -0.1em;
  }
}

.logo-studio-black {
  color: var(--primary-text-color);
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}

.modal {
  opacity: 0;
  visibility: hidden;
  width: 480px;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 15px;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s all;
}
@media screen and (min-width: 769px) {
  .modal {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .modal {
    width: 1024px;
    max-width: 1024px;
  }
}
.modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
  padding-bottom: 150px;
}

@media screen and (min-width: 1280px) {
  .gallery {
    display: block;
  }
}
.gallery__container {
  height: 455px;
  margin-bottom: 50px;
}
@media screen and (min-width: 769px) {
  .gallery__container {
    height: 535px;
    margin-bottom: 0;
  }
}
.gallery__videos {
  margin: auto;
  height: 100%;
}
@media screen and (min-width: 769px) {
  .gallery__videos {
    width: 500px;
  }
}
.gallery__previev {
  width: 242px;
  margin-left: 5px;
  margin-right: 5px;
}
@media screen and (max-width: 1279px) {
  .gallery__previev {
    width: 359px;
  }
}
.gallery__title {
  margin-bottom: 15px;
}
.gallery__section {
  background-color: var(--second-color);
}
.gallery__video {
  width: 450px;
  height: 254px;
}
@media screen and (min-width: 768px) {
  .gallery__video {
    width: 480px;
    height: 272px;
  }
}
.gallery__parad {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .gallery__parad {
    height: 255px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__parad {
    width: 480px;
    height: 270px;
  }
}

.trainer__section {
  background-color: var(--team-color);
}
.trainer__main {
  margin: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .trainer__main {
    width: 354px;
  }
}
@media screen and (min-width: 1280px) {
  .trainer__main {
    width: 354px;
  }
}
.trainer__main:hover .image-hover {
  display: block;
}
.trainer__main:hover .image-title {
  display: none;
}
.trainer__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;
}
.trainer__card-item {
  margin-left: 30px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .trainer__card-item {
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .trainer__card-item {
    flex-basis: calc((100% - 90px) / 3);
  }
}
.trainer__card-item:hover .image-hover {
  display: block;
}
.trainer__card-item:hover .image-title {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .trainer__image {
    height: 472px;
  }
}
@media screen and (min-width: 1280px) {
  .trainer__image {
    height: 415px;
  }
}
@media screen and (min-width: 768px) {
  .trainer__image_main {
    height: 472px;
  }
}
.trainer__card-title {
  padding-top: 30px;
  padding-bottom: 30px;
  background: var(--second-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.trainer__member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--fourth-text-color);
  margin-bottom: 10px;
}
.trainer__member-metier {
  font-size: 16px;
  line-height: 1.18;
  color: var(--third-text-color);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.trainer__social-list {
  justify-content: center;
}

.image-hover {
  display: none;
}

.team__section {
  background-color: var(--team-color);
}
.team__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;
}
.team__card-item {
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .team__card-item {
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .team__card-item {
    flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .team__image {
    height: 537px;
  }
}
@media screen and (min-width: 1280px) {
  .team__image {
    height: 472px;
  }
}

.lider__section {
  background-color: var(--team-color);
}
.lider__videos {
  overflow-y: auto;
  height: 100%;
}
.lider__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;
  overflow: auto;
}
.lider__card-item {
  margin-left: 30px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .lider__card-item {
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .lider__card-item {
    flex-basis: calc((100% - 124px) / 2);
  }
}
.lider__oser {
  margin-top: 30px;
}
.lider__image {
  margin: auto;
}

.timetable {
  background-color: var(--table-color);
}
.timetable__title {
  margin-bottom: 14px;
}
.timetable__item {
  text-align: center;
  margin-bottom: 14px;
}

.pc-table {
  display: none;
}
@media screen and (min-width: 768px) {
  .pc-table {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .mobile-table {
    display: none;
  }
}

table {
  margin: auto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1280px) {
  table {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;
  }
}

th {
  text-align: left;
  color: var(--second-color);
  background-color: var(--th-background-color);
  height: 34px;
}

td {
  width: 130px;
}

td:first-child {
  width: 88px;
}

td:last-child {
  width: 148px;
}

tr:nth-child(odd) {
  background-color: var(--tr-background-color);
}

.footer__container {
  padding: 30px 30px;
  width: 480px;
  margin: auto;
  background-color: var(--futer-color);
}
@media screen and (min-width: 768px) {
  .footer__container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container {
    width: 1024px;
  }
}
.footer__nav {
  width: 208px;
}
.footer__navigation {
  display: flex;
  margin-bottom: 30px;
}
.footer__navigation::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(../images/svg/icon-nav.svg);
  background-size: cover;
  margin-right: 5px;
}
.footer__navigation:hover .address__map, .footer__navigation:focus .address__map {
  color: var(--primary-color);
}
@media screen and (min-width: 1024px) {
  .footer__social {
    margin-right: 93px;
  }
}
@media screen and (max-width: 1023px) {
  .footer__social {
    width: 232px;
  }
}
.footer__social-item {
  fill: currentColor;
}
.footer__social-item a {
  background: var(-futer-social-color);
  color: var(--primary-text-color);
}
.footer__blank {
  height: 350px;
  background-color: transparent;
}

.address__contact-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.address__map {
  color: var(--primary-text-color);
}/*# sourceMappingURL=main.css.map */