.aboutus {
  background-color: var(--second-color);

  &__container {
    @media screen and (min-width: 768px) {
      padding-left: 100px;
      padding-right: 100px;
    }
  }

  &__txt {
    margin-bottom: 10px;
  }
}
