.gallery {
  @media screen and (min-width: 1280px) {
    display: block;
  }

  &__videos {
    @media screen and (min-width: 769px) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    @media screen and (min-width: 1280px) {
      flex-wrap: nowrap;
    }
  }
  &__previev {
    width: 242px;
    margin-left: 5px;
    margin-right: 5px;
    @media screen and (max-width: 1279px) {
      width: 359px;
    }
  }
  &__title {
    margin-bottom: 15px;
  }
  &__section {
    // padding-top: 20px;
    background-color: var(--second-color);
  }

  &__video {
    @media screen and (max-width: 1279px) {
      width: 363px;
      height: 262px;
    }
  }
  @media screen and (max-width: 768px) {
    width: 450px;
    height: 262px;
  }
  &__parad {
    
    @media screen and (max-width: 1279px) {
      order: -1;
      width: 732px;
      height: 324px;
      margin-left: 3px;
    }
  }
}
