.gallery {
  @media screen and (min-width: 1280px) {
    display: block;
  }

  &__container {
    height: 455px; 
    @media screen and (min-width: 769px) {
      height: 535px;
    }
  }

  &__videos {
    margin: auto;
    height: 100%;
    @media screen and (min-width: 769px) {
      width: 500px;
    }
    @media screen and (min-width: 1280px) {
     
    }
  }
  &__previev {
    width: 242px;
    margin-left: 5px;
    margin-right: 5px;
    @media screen and (max-width: 1279px) {
      width: 359px;
    }
  }
  &__title {
    margin-bottom: 15px;
  }
  &__section {
    background-color: var(--second-color);
  }

  &__video {
    @media screen and (max-width: 1279px) {
      
    }
  }

  @media screen and (max-width: 768px) {
    // width: 450px;
    // height: 262px;
  }
  &__parad {
    width: 100%;
    @media screen and (max-width: 768px) {
      height: 255px;
    }
  }
}
