.gallery {
  @media screen and (min-width: 1200px) {
    display: block;
  }

  &__videos {
    @media screen and (min-width: 769px) {
      display: flex;
      justify-content: center;
    }
  }
  &__previev {
    width: 187px;
  }
  &__title {
    margin-bottom: 15px;
  }
}
