.menu-btn {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  line-height: 0;
  right: 10px;
  @include font(500, 16px, 1.14, 0.02em);
  text-align: center;
  color: var(--fourth-text-color);
  transition: font 250ms;
  cursor: pointer;
  &:hover,
  &:focus {
    margin-top: -2px;
    @include font(500, 18px, 1.14, 0.02em);
  }
  @media screen and (min-width: 768px) {
    &:hover,
    &:focus {
      margin-top: -2px;
      @include font(500, 18px, 1.14, 0.02em);
    }
  }
  @media screen and (min-width: 1280px) {
    @include font(500, 18px, 1.14, 0.02em);
    &:hover,
    &:focus {
      margin-top: -2px;
      @include font(500, 20px, 1.14, 0.02em);
    }
  }
}

.lider-addr {
  display: block;
   width: 100%;
    height: 100%;
  background-color: transparent;
  transition: padding-top 250ms;
  @include font(500, 16px, 3.14, 0.02em);
  text-align: center;
  color: var(--fourth-text-color);
  transition: font 250ms;
  cursor: pointer;
  &:hover,
  &:focus {
    margin-top: -2px;
    @include font(500, 18px, 3.14, 0.02em);
  }
  @media screen and (min-width: 768px) {
    &:hover,
    &:focus {
      margin-top: -2px;
      @include font(500, 18px, 3.6, 0.02em);
    }
  }
  @media screen and (min-width: 1280px) {
   
    @include font(500, 18px, 3.14, 0.02em);
    &:hover,
    &:focus {
      margin-top: -2px;
      @include font(500, 20px, 3.14, 0.02em);
    }
  }
}
.lider-btn {
  width: 100%;
  height: 60px;
  background-color: var(--th-background-color);
  border-radius: 4px;
  border: 1px solid var(--border-color);
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    transition: padding-top 250ms;
  }

  @media screen and (min-width: 1280px) {
    border: 1px solid var(--border-color);
  }
}
