:root {
--primary-font: "Roboto", sans-serif;

  
--primary-color: #2196f3; 
--second-color: #ffffff;
--fourth-text-color: #212121;
--header-background-color: #00bfff;
--header-background-color-nav: #e2e2e2;
--futer-color: #2f303a;
--border-color: #000000;
--mobil-color: rgba(0, 0, 0, 0.5);
--futer-social-color: rgba(255, 255, 255, 0.1);
--hero-background-color: rgba(47, 48, 58, 0.3);
--slogan-color: #f13232;
--table-color: #faf6f6;
--th-background-color: #00a8e1;
--tr-background-color: #e3e2e2;
--team-color: #f0f7ff;

--primary-text-color: #ffffff;
--second-text-color: rgba(255, 255, 255, 0.6);
--fifth-text-color: #000000;
--third-text-color: #757575;
}